<form action="/auth/signup" method="post" id="form-container">
  <div>
    <label for="username">USUARIO</label><br><br>
    <input id="username" type="text" name="username" placeholder="Pablo Escobar">
  </div>
  <div>
    <label for="mail">EMAIL</label><br><br>
    <input id="mail" type="mail" name="email" placeholder="blancanieves@colombia.com">
  </div>
  <div>
    <label for="password">CONTRASEÑA</label><br><br>
    <input id="password" type="password" name="password" placeholder="Contraseña">
  </div>

  <br>
  <div id="create">
    <button>Crear cuenta</button>
  </div>

  <div>
    <p>
      Tienes una cuenta?
      <a href="/auth/login"> Login</a>
    </p>
  </div>
</form>
